*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.swiper {
  width: 400px;
  height: auto;
}
.swiper-slide img {
  width: 400px;
  height: 600px;
  object-fit: cover;
}
.swiper-pagination-bullet-active {
  background: white!important;
}

/* font family montssarat for text */
body {
  font-family: 'Montserrat', sans-serif;
}

/* Sticky Navbar */
.new {
  border: 1px solid #E7EBF0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  animation: slidedown .7s forwards;
  border: none;
}
@keyframes slidedown {
  from {
    top: -250px;
  }

  to {
    top: 0px;
  }
}

