.swiper {
  width: 400px;
  height: auto;
}
.swiper-slide img {
  width: 400px;
  height: 600px;
  object-fit: cover;
}
.swiper-pagination-bullet-active {
  background: white!important;
}

/* font family montssarat for text */
body {
  font-family: 'Montserrat', sans-serif;
}